@model cloudscribe.Pagination.Models.PagedResult<Product>

@{
    ViewData["Title"] = "Products";
    ViewData["Controller"] = "Products";
    ViewData["Action"] = "Index";
}
<style>
    .filter-button-group {
        display: inline-block;
    }
    .filter-button-group a.active 
    {
        background: #000000;
    }
    .filter-button-group a 
    {
        background: #b0b435;
        color: #ffffff;
        border: none;
        cursor: pointer;
        padding: 5px 30px;
        font-size: 2rem;
    }
    .filter-button-group a:hover{
        background-color:black;
    }
    .filter-button-group a:active{
        background-color:black;
    } 
</style>

<div class="container bg-light mb-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="title-all text-center">
                <h1>Fruits & Vegetables</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
            </div>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-lg-12">
            <div class="special-menu text-center">
                <div class="button-group filter-button-group">
                    <a class=" btn text-white" href="/Products/Index">All</a>
                    <a class=" btn text-white" href="/Products/Index?category=fruits">Fruits</a>
                    <a class=" btn text-white" href="/Products/Index?category=vegetables">Vegetables</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container bg-light" id="SearchDiv" >
    <div class="container row text-wight" style="margin: auto; padding: 10px;">
        <div class="col-12 col-lg-12 col-xs-12"><input type="text" class="form-control" style=" border: none; border-radius: 10px; display: inline-block;" placeholder="Search" id="searchtxt" onkeyup="searchJs()"></div>
    </div>
</div>
<div class="container bg-light" id="productrow">
    <div class="row">
        @foreach (var item in Model.Data)
        {
            var PhotoPath = "~/images/" + (item.Image ?? "noimage.jpg");
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="product-grid4">
                    <div class="product-image4">
                        <a href="#">
                            <img class="pic-1" src="@PhotoPath" asp-append-version="true" style="height:15rem">
                            <img class="pic-2" src="@PhotoPath" asp-append-version="true" style="height:15rem">
                        </a>
                        <ul class="social">
                            <li><a data-tip="Quick View" asp-action="UserProductDetails" asp-controller="Products" asp-route-id="@item.ID"><i class="fa fa-eye"></i></a></li>
                            <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                        <span class="product-new-label">New</span>
                        <span class="product-discount-label">-10%</span>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">@item.Name</a></h3>
                        <div class="price">
                            @(item.Price*90/100)
                            <span>@item.Price</span>
                        </div>
                        @*<a asp-controller="ShoppingCart"
                           asp-action="OrderNow" asp-route-id="@item.ID" class="add-to-cart">ADD TO CART</a>*@
                        <button class="add-to-cart" onclick="Add(@item.ID)" id="cartid">ADD To Cart</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<partial name="_PaginationPartial" view-data="ViewData" model="Model" />
